@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  margin: 0;
  font-family: 'Electrolize', sans-serif;
  @apply bg-gray-50
}

li{
  list-style-type: none;
}

.ant-btn-primary{
  background-color: #1677ff;
}

.menu-link .anticon{
  display: flex;
  justify-content: center;
}

@media(min-width: 768px){
  body {
    overflow: hidden;
  }
}

body::-webkit-scrollbar,
.categories::-webkit-scrollbar,
.cart-items::-webkit-scrollbar,
.products::-webkit-scrollbar {
    height: 8px;
    width: 5px;
}

body::-webkit-scrollbar-track,
.categories::-webkit-scrollbar-track,
.cart-items::-webkit-scrollbar-track,
.products::-webkit-scrollbar-track {
    background-image: linear-gradient(to right top, #fff, #fff, #fff, #fff, #fff);
}

body::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb,
.cart-items::-webkit-scrollbar-thumb,
.products::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right top, #40a9ff, #40a9ff, #40a9ff, #40a9ff, #40a9ff);
    outline: 1px solid slategrey;
    min-height: 100px;
}